/* Reset default browser css. */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }

body { font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background: #C1C8CB; color: #333; -webkit-font-smoothing: antialiased; }

a { color: #fff; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover {  text-decoration: none; text-shadow: #fff 1px 1px 2px; }

h1,h2,h3,h4,h5,h6,strong { color:#fff; }
h1,h2,h3,h4 { font-weight: bold; }
h2,h3,h4 { line-height: 18px; }
h1,h2 { margin-bottom: 18px; }
h1 { font-size: 24px; line-height: 36px; }
h2 { font-size: 16px; }
h3 { font-size: 1em; }
h4 { font-size: 10px; }
p { margin-bottom: 18px; }


#wrapper { width: 100%; position: relative; padding-top: 90px;}

.rounded { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px; }

.shadow { -webkit-box-shadow: rgba(0,0,0,0.35) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.35) 0 1px 3px; box-shadow: rgba(0,0,0,0.35) 0 1px 3px; }
img.shadow { padding: 5px; background: #fff; margin-bottom: 2px; }

header { padding: 10px; box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4); background: -webkit-linear-gradient(top, #666 0%, #555 100%); position: fixed; top: 0; left: 0; right: 0; z-index: 9999; }
footer { padding: 20px;  color: #333; margin: 20px 0 0 0; background: rgba(0, 0, 0, 0.10); color: #333; text-align: center; box-shadow: 0px -1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.6); -webkit-transition: 0.10s ease-in; }
